
.accordion-button {
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.accordion-button:hover {
  background-color: #ddd;
}

.accordion-content {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
}

.accordion-item {
  margin-bottom: 5px;
}
